.pageCords {
    width: 100%;
    height: 100%;
}

.VuesaxEcommerceDashboard {
    height: 100%;
    width: 100%;
    display: flex;
}

.VerticalMenu {
    width: 280px;
    height: 100%;
    background: black;
}

.Dashboard {
    margin: 10px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
 }

.topDiv {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.Navbar {
    height: 100%;
    width: 100%;
    flex: 1;
    margin: auto;
    background: #2B3253;
    display: flex;
}

.breadCrumbs {
    height: 100%;
    width: 100%;
    flex: 1;
    background: #2B3253;
}

.SubscribersCardAndFilters {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.Fealter {
    width: 100%;
}
.filters {
    font-family: Montserrat;
    flex: 1;
    margin: 0;
}

.subscribersCard {
    width: 100%;
    height: 100%;
    background: #0F1642;
    padding: 10px;
}
.SCInnerElements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.multiRange {
    display: flex;
    flex-flow: column;
}
.multiRangeText {
    color: #FFFFFF
}
.firstOption {
    display: flex;
    flex-flow: row;
}
.firstOption input[type="radio"] {
    appearance: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 6px;
    background-clip: content-box;
    border:2px solid white;
    border-radius: 50%;
}
.firstOption label {
    color: #FFFFFF;
}
.firstOption input[type="radio"]:before {
        background: #0F1642;
}
.firstOption input[type="radio"]:checked {
    background: #6F64F8;
}

.topPart {
    display: flex;
    flex-flow: column;
}
.Slider p{
    margin-top: 0px;
    display: flex;
    flex-flow: row;
}
.slid {
    margin-right: 69px;
}
.a {
    display: flex;
    margin: auto;
}

.slider{
    width: 100%;
}
.rangeSlider {
    width: 100%;
    background: content-box;
    outline: none;
    transition: opacity 0.2s;
}
.rangeSlider input[type="range"] {

}
.rangeSlider::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background: #6F64F8;
    cursor: pointer;
}
.dashboardBlock {
    width: 100%;
    height: 100%;
}
.dashboardBlock section {
    width: 100%;
    height: 50px;
}

.secondOption {
    color: #FFFFFF
}
.thirdOption {
    color: #FFFFFF
}
.fourthOption {
    color: #FFFFFF
}
.fifthOption {
    color: #FFFFFF
}